<?xml version="1.0"?>
<launch>
    <arg name="path_to_orb" default="/home/ee405/orb_slam/ORB_SLAM3_ROS_Interface/"/>
    <arg name="path_to_vocabulary" default="Vocabulary/ORBvoc.txt"/>
    <arg name="path_to_settings" default="Examples/RGB-D/jetson.yaml"/>

    <arg name="use_pangolin" default="false"/>
    <arg name="use_auto_exposure" default="true"/>
    <arg name="ae_meanIntensitySetPoint" default="750"/>

    <arg name="cam_fps" default="15"/>
    <arg name="cam_exposure" default="200"/>

    <node name="rgbd_realsense" pkg="orb3_ros_interface" type="rgbd_realsense" output="screen"
    args="$(arg path_to_orb)$(arg path_to_vocabulary) $(arg path_to_orb)$(arg path_to_settings)" >
      <remap from="/orb_pose" to="/scout/mavros/vision_pose/pose"/>
      <param name="enable_pangolin" type="bool" value="$(arg use_pangolin)" />
      <param name="enable_auto_exposure" type="bool" value="$(arg use_auto_exposure)" />
      <param name="ae_meanIntensitySetPoint" type="int" value="$(arg ae_meanIntensitySetPoint)" />

      <param name="camera_fps" type="int" value="$(arg cam_fps)" />
      <param name="exposure" type="int" value="$(arg cam_exposure)" />

      <!-- <remap from="/camera/depth_registered/image_raw" to="/camera/depth/image_rect_raw"/>
      <remap from="/camera/rgb/image_raw" to="/camera/color/image_raw"/> -->
    </node>
</launch>
